.default__layout {
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url(http://localhost:3000/index_page/back.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: 100% 100%;
}
