.header {
  min-height: unset;
  box-shadow: 0.1vh 1vh 8px 3px rgb(0 0 0 / 20%),
  10px 9px 30px 8px rgb(0 0 0 / 30%),
  inset 0px -0.3vh 6px rgb(0 0 0 / 70%),
  inset 0.3vh 0.1vh 0.3vh rgb(0 0 0 / 30%) !important;

  .v-image__image {
    background-size: 100% 100%;
  }
}

.header__btn {
  @media only screen and (min-width: 200px) and (max-width: 700px) {
    width: 29px !important;
    height: 29px !important;
  }
  width: 19px !important;
  height: 19px !important;
  position: relative !important;
  justify-content: center !important;
  align-self: center !important;
  align-items: center !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex !important;
  background-color: #c88fdb;
  box-shadow:
          1px 7px 8px 3px rgb(0 0 0 / 20%),
          10px 9px 30px 8px rgb(0 0 0 / 50%),
          inset -2px -4px 6px rgb(0 0 0 / 70%),
          inset 0px 2px 3px rgb(0 0 0 / 40%) !important;
  @media only screen and (min-width: 600px) {
    width: 25px !important;
    height: 25px !important;
  }
  @media only screen and (min-width: 940px) {
    width: 28px !important;
    height: 28px !important;
  }
  @media only screen and (min-width: 1240px) {
    font-size:16px !important;
  }
  @media only screen and (min-width: 1880px) {
    font-size:21px !important;
  }
}

.d-flex > .header__title {
  font-family: "Absolute Empire", sans-serif;
  animation: bounce-in .5s;
  position:relative;
  font-size:10px !important;
  left: 10px !important;
  color: rgb(86,6,143);
  padding: 0 !important;
  margin-top: 0.5vh !important;
  @media only screen and (min-width: 600px) {
    left: 10px !important;
    font-size:13px !important;
  }
  @media only screen and (min-width: 940px) {
    font-size:13px !important;
  }
  @media only screen and (min-width: 1240px) {
    font-size:16px !important;
    margin-top: 0 !important;
    left: 22px !important;
  }
  @media only screen and (min-width: 1880px) {
    font-size:21px !important;
    margin-top: 0 !important;
  }
}

.v-app-bar--is-scrolled {
  background: linear-gradient(to right, rgba(180, 200, 255), #ffa4b6);

  .header__btn {
    box-shadow:
            inset -2px -4px 6px rgb(0 0 0 / 70%),
            inset 0px 2px 3px rgb(0 0 0 / 40%) !important;
  }
}
